<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Select Huruf</title>
</head>

<body>
    <form id="app">
        <input v-model="search" placeholder="Ketikkan kata kunci">
        <ul>
            <li v-for="books in filteredItems">{{books}}</li>
        </ul>
    </form>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                search: '',
                books:[
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ]
            },
            computed: {
                filteredItems() {
                    return this.books.filter(books => {
                        return books.toLowerCase().includes(this.search.toLowerCase())
                    })
                }
            }
        })
    </script>
</body>

</html>