<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Tugas 12 Ajax Axios</title>

    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }

        label {
            display: block;
            margin-top: 5px;
        }

        input,
        textarea,
        select,
        option {
            min-width: 200px;
        }
    </style>
</head>

<body>
    <div id="app">
        <form v-on:submit.prevent="submitForm">

            <p v-if="errors.length">
                <b>Please correct the following errors:</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
            </p>

            <label>Name:</label>
            <input v-bind:disabled="buttonStatus == 'upload'" type="text" name="name" ref="name" v-model="name">

            <label>Address:</label>
            <textarea v-bind:disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address"></textarea>
            
            <label>Contact:</label>
            <input v-bind:disabled="buttonStatus == 'upload'" type="text" name="no_hp" ref="no_hp" v-model="no_hp">

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>

            <div v-else-if="buttonStatus == 'update'">
                <input @click="updateMember(idEditMember)" type="button" value="UPDATE">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>

            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadMember)" style="margin-top:5px">
                <input type="button" value="CANCEL" @click="clearForm" style="margin-top:5px">
            </div>

        </form>


        <br><br>

        <table border="1">
            <tr v-for="member of members">
                <td>
                    <img v-bind:src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/1920x1080/f1f1f1/000.png&text=Photo'" width="100" alt="">
                </td>
                <td>
                    <b>Name : </b> {{member.name}} <br>
                    <b>Address : {{member.address}}</b> <br>
                    <b>Contact : {{member.no_hp}}</b> <br>
                </td>
                <td>
                    <button @click="editMember(member)">Edit</button>
                    <button @click="removeMember(member.id)">Hapus</button>
                    <button @click="uploadPhotoProfile(member)">Upload Photo Profile</button>
                </td>
            </tr>
        </table>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp:'',
                errors: [],
                members:[],
                photoDomain:'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadMember : null,
            },
            methods: {
                validationForm: function () {
                    this.errors = []
                    if (this.name.length < 2) {
                        this.errors.push('Masukkan nama yang jelas')
                        this.$refs.name.focus()
                    }

                    if (this.address.length < 10) {
                        this.errors.push('Alamat harus lebih dari 10 karakter')
                        this.$refs.address.focus()
                    }

                    if (this.no_hp.length < 10) {
                        this.errors.push('Kontak Minimal 9 Digit')
                        this.$refs.no_hp.focus()
                    }
                },

                clearForm: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                    this.idUploadMember = null
                },

                submitForm: function () {
                    this.validationForm()
                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log("Ada sesuatu yang salah");
                            })
                    }
                },

                getMembers: function () {
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                },

                removeMember: function (id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method: "DELETE" }
                    }

                    axios(config)
                        .then((response) => {
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log("Ada sesuatu yang salah");
                        })
                },

                editMember: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },

                updateMember: function (id) {
                    this.validationForm()
                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method: 'PUT' },
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert(response.data.message)
                            })
                            .catch((error) => {
                                console.log("Ada sesuatu yang salah");
                            })
                    }

                },

                uploadPhotoProfile: function (member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                },

                submitPhoto: function (id) {
                    let file = this.$refs.photo.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log("Ada sesuatu yang salah");
                        })
                },

            },
            created(){
                this.getMembers()
            }
        })
    </script>
</body>

</html>