<!-- Direktif untuk coditional rendering akan kita butuhkan untuk menampilkan data tertentu yang berdasarkan kondisi.

Direktif ini terdiri dari:

v-if digunakan jika hanya ada satu kondisi;
v-else digunakan saat memiliki dua kondisi;
v-else-if digunakan jika memiliki banyak kondisi. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aplikasi Vue #6: Direktif untuk Kondisi</title>
    <!-- Menyisipkan Vuejs dari CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>

    <!-- elemen kontainer untuk aplikasi -->
    <div id="app">
        <div class="order-detail">
            <p>Ini adalah detail dari pesanan anda: </p>
            <hr>
            <img :src="cover" width="100" />
            <h4>{{ name }}</h4>
            Qty: <input type="number" v-model:value="qty" min="1" max="10" />
            Total: Rp {{ price * qty }}
        </div>
        <hr>
        <label><input type="checkbox" v-model:value="showBonus"> Show Bonus</label>
        <div class="detail" v-if="showBonus">
            <p v-if="qty >= 10">Maaf kamu hanya boleh beli {{ qty }} aja yah.. soalnya kita gak punya banyak stok</p>
            <p v-else-if="qty >= 5">Whoaa tukang borong nih!</p>
            <p v-else-if="qty >= 2">Selamat! Kamu dapat bonus, karena membeli {{ qty }} buku</p>
            <p v-else>Beli liebih banyak lagi untuk dapatkan bonus :)</p>
        </div>
    </div>

    <!-- aplikasi Vue Directive kondisi -->
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                showBonus: true,
                name: "Buku Vuejs untuk Pemula",
                cover: "https://www.petanikode.com/img/logo.svg",
                price: 140000,
                qty: 1
            }
        })
    </script>
</body>

</html>