<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>v-if</title>
</head>
<body>
    <div id="app">
        <!-- Direktif v-if adalah direktif yang digunakan untuk melakukan rendering secara kondisional. -->
        <p v-if="seen">Now you see me</p>
    </div>

    <script>
        var vm = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    seen : false
                }
            })
    </script>
</body>
</html>