<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Computed Property</title>
</head>
<body>
    <div id="app">
        {{b}}
        <br>
        {{fullName}}
    </div>


    <script>
        var vm = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    a : 1,
                    firstName : 'Yusuf',
                    lastName : 'Wijaya',
                },
                // computed property digunakan untuk sebagai tempat operasi menggunakan function
                computed : {
                    b : function () {
                        return this.a + 2
                    },
                    fullName : {
                        // jika pke yang ini tidak bisa fullName dirubah langsung di consolenya
                        //return `${this.firstName} ${this.lastName}`

                        // jika ingin di rubah maka pke function getter setter
                        get : function () {
                            return `${this.firstName} ${this.lastName}`
                        },
                        set : function (params) {
                            let arr = params.split(' ')
                            this.firstName = arr[0]
                            this.lastName = arr[1]
                        }
                    }

                }
            })
    </script>
</body>
</html>