<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Dasar2 template 1</title>
</head>
<body>
    <div id="app">
        <div>
            <!-- template yang diperbolehkan oleh vue js -->
            <p>{{'Pesan: ' + message}}</p>
            <p>{{`number * 20 = ${number * 20}`}}</p>
            <p>{{test ? 'YES' : 'NO'}}</p>
            <p>{{message.split('').reverse().join('')}}</p>
        </div>
    </div>

    <script>
        var vm = new Vue({
                el: '#app',
                data: {
                    message: 'Jangan lupa Makan!',
                    number: 30000,
                    test: true,
                    array : [1,2,4]
                }
            })
    </script>
</body>
</html>