<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Data Binding</title>
</head>
<body>
    <div id="app">
        <!-- directive v-bind digunakan untuk one way data binding, intinya tidak bisa diubah langsung di web -->
        <input type="text" v-bind:value="messagebind">
        <p>{{messagebind}}</p>
        <br><br>
        <!-- directive v-model digunakan untuk two way data binding, intinya bisa diubah langsung di web -->
        <input type="text" v-model:value="messagemodel">
        <p>{{messagemodel}}</p>

    </div>

    <script>
        var vm = new Vue({
                el: '#app',
                data: {
                    messagebind: 'Hello Vue!',
                    messagemodel : 'Hello Laravel'
                }
            })
    </script>
</body>
</html>