<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Methods Property</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.c(2)">ClickMe</button>
        {{a}}
        <br>
        <button onclick="vm.notif(vm.name)">ClickMe</button>
    </div>

    <script>
        var vm = new Vue({
                el: '#app',
                data: {
                    a : 1,
                    name : "Selamat Datang Yusuf Wijaya"
                },
                computed : {
                    b(){
                        return this.a + 1
                    },
                },

                // methods property digunakan untuk membuat function yang bisa dimasukkan parameter, karena jika di computed property functionnya tidak bisa menerima parameter
                methods : {
                    c(number){
                        this.a = this.a + number
                    },
                    notif(param){
                        alert(param)
                    }
                }
            })
    </script>
</body>
</html>