<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Template Property</title>
</head>
<body>
    <div id="app">

    </div>

    <script>

        var iniTemplate = `
        <div>
            <h1>{{ message }}</h1>
            <h2>- {{ author }} -</h2>
        </div>
        `

        var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    author: "Yusuf Wijaya"
                },
                // membuat kerangka HTML dan Css di vue menggunakan template property
                template : iniTemplate

            })
    </script>
</body>
</html>