<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kegunaan v-once dan v-html</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <!-- directive v-once digunakan agar "message" yang di html tidak bisa diubah2 lagi cobain di console web-->
    <div id="app">
         <p v-once>{{ message }}</p> 
        <p>{{ message }}</p>
    </div>

    <!-- directive v-html digunakan untuk membuat tag dan css di js  -->
    <div id="app2">
        <p v-html="message"></p>
    </div>

    <script>
        var vm = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Depok!'
                }
            })

        var vm2 = new Vue({
                el: '#app2',
                data: {
                    message: '<span style="color:green">Hello Depok !</span>'
                }
            })
    </script>
</body>
</html>