<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Deklarasi data pada component</title>
</head>

<body>

    <div id="app1">
        <h1>app1</h1>
        <component-satu></component-satu>
        <component-a></component-a>
    </div>


    <template id='component-satu'>
        <p>{{pesan}}</p>
    </template>

    <script>

        // untuk membuat deklarasi property data harus menggunakan fungsi yang di return kan, tidak bisa di object vue langsung
        var ComponentA = {
            template: '<p>Component A</p>',
            data(){
                return{
                    pesan: 'ini dari component A'
                }
            }
        }

        // tujuan deklarasi data di component untuk melokalisasikan data agar tidak terjadi bentrokan jika terjadi perubahan
        Vue.component('component-satu', {
            template: '#component-satu',
            data() {
                return {
                    pesan: 'ini dari component satu'
                }
            }
        })


        new Vue({
            el: '#app1',
            components:{
                'component-a' : ComponentA
            }
        })
    </script>
</body>

</html>