<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Kirim data pada component</title>
</head>

<body>

    <div id="app1">
        <!-- untuk memanggil data di child component dari parent component sama seperti memakai atribute -->
        <blog-component v-for="blog in blogs" v-bind:blog='blog'></blog-component>
    </div>

    <!-- jadi stepnya :
    1. ambil datanya di parent component
    2. kirim datanya menggunakan atribute dan v-bind kemudian di looping
    3. masukkan ditemplatenya child component
    4. simpan di proops datanya -->

    <script>

        // child component
        var BlogComponent = {
            template: `
                <div>
                    <h1>{{blog.title}}</h1>
                    <p>{{blog.content}}</p>
                </div>
            `,
            data() {
                return {
                    pesan: 'ini dari component Blog'
                }
            },

            // property props digunakan untuk mengirim data ke tag blog-componentnya
            props : ['blog'],
        }

        // parent component
        const vm = new Vue({
            el: '#app1',
            components: {
                'blog-component': BlogComponent
            },
            data:{
                blogs:[
                    {
                        title : 'ini judul 1',
                        content : 'ini content 1'
                    },
                    {
                        title: 'ini judul 2',
                        content: 'ini content 2'
                    },
                    {
                        title: 'ini judul 3',
                        content: 'ini content 3'
                    },
                ]
            }
        })
    </script>
</body>

</html>