<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Kirim data pada component</title>
</head>

<body>

    <div id="app1">
        <h1>Blog yang di pilih : {{selectedBlog}}</h1>
        <!-- untuk memanggil data di child component dari parent component sama seperti memakai atribute -->
        <blog-component v-for="blog in blogs" v-bind:blog='blog' @selected="selectedBlog = $event"></blog-component>
    </div>

    <!-- menggunakan $emit untuk mengambil data dari child ke parent component biasanya taroh di @click seperti dibawah ini -->
    <!-- $emit('nama event', value yang ingin di kirim) -->
    <script>

        // child component
        var BlogComponent = {
            template: `
                <div>
                    <h3>{{blog.title}} <button @click="$emit('selected', blog.title)">Pilih</button></h3>
                    <p>{{blog.content}}</p>
                </div>
            `,
            data() {
                return {
                    pesan: 'ini dari component Blog'
                }
            },

            // property props digunakan untuk mengirim data ke tag blog-componentnya
            props: ['blog'],
        }

        // parent component
        const vm = new Vue({
            el: '#app1',
            components: {
                'blog-component': BlogComponent
            },
            data: {
                blogs: [
                    {
                        title: 'ini judul 1',
                        content: 'ini content 1'
                    },
                    {
                        title: 'ini judul 2',
                        content: 'ini content 2'
                    },
                    {
                        title: 'ini judul 3',
                        content: 'ini content 3'
                    },
                ],
                selectedBlog : '',
            }
        })
    </script>
</body>

</html>