<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Input Form Binding</title>
</head>
<body>
    <form id="app">
        <!-- v-model untuk two way data binding -->
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>

        <!-- v-model untuk jenis multiline memakai text area -->
        <br>
        <textarea v-model="messagemultiline" placeholder="add multiple lines"></textarea>
        <br>
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ messagemultiline}}</p>

        <!-- v-model untuk checkbox -->
        <br>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <!-- v-model dengan multiple checkbox -->
        <br><br>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>

        <!-- v-model dengan radio buntton -->
        <br><br>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>

        <!-- v-model dengan single select -->
        <br><br>
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>

        <!-- v-model dengan multiple select -->
        <br><br>
        <select v-model="selectedmultiple" multiple>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <br>
        <span>Selected: {{ selectedmultiple }}</span>

        <!-- v-model dengan dynamic options menggunakan v-for -->
        <br><br>
        <select v-model="selecteddynamic">
            <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
            </option>
        </select>
        <span>Selected: {{ selecteddynamic}}</span>

    </form>
    
    <script>
        var vm = new Vue({
                el: '#app',
                data: {
                    message: 'Hello Vue!',
                    messagemultiline: 'Hello Depok',
                    checked: false,
                    checkedNames: [],
                    picked : '',
                    selected:'',
                    selectedmultiple: '',
                    selecteddynamic: 'A',
                    options: [
                        { text: 'One', value: 'A' },
                        { text: 'Twoad', value: 'B' },
                        { text: 'Three', value: 'C' }
                    ]
                }
            })
    </script>
</body>
</html>