<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Modifiers</title>
</head>
<body>
    <form id="app">
        <!-- Modifier .lazy untuk two way data binding tapi setelah melakukan event handler selanjutnya -->
        <input v-model.lazy="msg"><br>
        {{msg}}

        <!-- Modifier .number untuk menjadikan string menjadi int atau float -->
        <br><br>
        <input v-model.number="age" type="number"><br>
        {{age}}

        <!-- Modifier .trim untuk menghilangkan spasi2 yang mengganggu -->
        <br><br>
        <input v-model.trim="message"><br>
        {{message}}
    </form>

    <script>
        var vm = new Vue({
                el: '#app',
                data: {
                    msg: 'Hello Vue!',
                    age:'',
                    message: 'santai'
                }
            })
    </script>
</body>
</html>