<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2/dist/vuex.js"></script>
    <title>VueX</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 5%
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>{{$store.state.count}}</h1>
        <p>State Management Pattern</p>
        <button @click="handleClick">Tambah</button>
    </div>

    <script>

        const storeContainer = new Vuex.Store({
                state: {
                    title: 'VueJS',
                    count: 1
                },
                mutations: {
                    increments(state){
                        state.count++
                    }
                },
                actions: {

                }
            })


        var vm = new Vue({
            el: '#app',
            data: {
                
            },
            store: storeContainer,
            methods:{
                handleClick(){
                    this.$store.commit('increments')
                }
            }
        })
    </script>
</body>

</html>