<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Quiz 2</title>
</head>

<body>
    <div id="app">
        <form>
            <input type="text" v-model="form.name">
            <button @click.prevent="add" v-show="!updateSubmit">Add</button>
            <button @click.prevent="update" v-show="updateSubmit">Update</button>
        </form>
        <ul v-for="(user, index) in users">
            <li>
                <span>{{user.name}}</span>
                <button @click="edit(user, index)">Edit</button> || <button @click="del(index)">Delete</button>
            </li>
        </ul>



        <!-- <input type="text" placeholder="" v-model:value="newUser" />
            <button @click="addUser">Add</button>
            <ul>
                <li v-for="(item,index) in users" :key="index">
                    <p>
                        {{ item.name }}
                        <button @click="editUser">Edit</button>
                        ||
                        <button @click="deleteUser(index)">Delete</button>
                    </p>
                
                </li>
        </ul> -->
    </div>
    
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                users: [
                    {name: "Muhammad Iqbal Mubarok" },
                    {name: "Ruby Purwanti" },
                    {name: "Faqih Muhammad" },
                ],
                updateSubmit:false, 
                form : {
                    'name' : ''
                },
                selectedUserId : null,
            },
            methods: {
                add(){
                    this.users.push(
                        this.form
                    )
                    this.form = {}
                },
                edit(user, index){
                    this.selectedUserId = index
                    this.updateSubmit = true
                    this.form.name = user.name
                },
                update(){
                    this.users[this.selectedUserId].name = this.form.name
                    this.form = {}
                    this.updateSubmit=false
                    this.selectedUserId=null
                },
                del: function (index) {
                    var r = confirm("Yakin ingin Manghapusnya?");
                    if (r == true) {
                        this.users.splice(index, 1);
                    }
                }
            }
        })
    </script>
</body>

</html>